<!doctype html>
<html>
    <head>
        <div class="jumbotron">
          <center>
            <h1><span class="glyphicon glyphicon-home"></span> TaBlog </h1>

             <a href="http://localhost:3000/login" class="btn btn-primary btn-lg .active" role="button">ログイン</a>
          </center>
        </div>
    </head>
    
         <center>     
              <% @posts.each do |post| %>
              <div class="well well-lg">
                <p>
                  <%= image_tag post.image_url %>
                </p>
                <p>
                <strong><%= post.title %></strong>
                </p>
                <p>
                <strong>内容：</strong>
                  <%= post.text %>
                </p>
                </div>
                <p>           
                ----------------------------------------------------------------------------
                </p>   
              <% end %>
         </center>
      </div>
</html>